In [367]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.6/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.4.5.1)

In [368]:
!python -m spacy download en_core_web_lg

Requirement already satisfied: en_core_web_lg==2.2.5 from https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.5/en_core_web_lg-2.2.5.tar.gz#egg=en_core_web_lg==2.2.5 in /usr/local/lib/python3.6/dist-packages (2.2.5)
Requirement already satisfied: spacy>=2.2.2 in /usr/local/lib/python3.6/dist-packages (from en_core_web_lg==2.2.5) (2.2.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (47.1.1)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.0.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.0.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (3.0.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (4.41.1)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (0.6.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.18.5)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (7.4.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.0.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (2.0.3)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.1.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (2.23.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (0.4.1)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_lg==2.2.5) (1.6.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (2.9)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_lg==2.2.5) (3.1.0)
âœ” Download and installation successful
You can now load the model via spacy.load('en_core_web_lg')

In [369]:
#import Library
import pandas as pd
import string
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
nltk.download('stopwords')
nltk.download('punkt')
from gensim.corpora import Dictionary
from gensim.models.ldamulticore import LdaMulticore
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [0]:
from collections import Counter

In [0]:
nlp = spacy.load('en_core_web_lg')

In [372]:
import requests
url = 'https://raw.githubusercontent.com/Moly-malibu/Tag-Smart-Emails/master/Enronemails.csv?token=AN2RW2GGHXCN4RRW3NT6C2S65KRHS'
myfile = requests.get(url)
open('email.csv', 'wb').write(myfile.content)

24004915

In [0]:
df = pd.read_csv("email.csv").drop(['Unnamed: 0'], axis=1)

In [374]:
[s.strip() for s in df['message'][100].splitlines()]

['Message-ID: <15940494.1075855689309.JavaMail.evans@thyme>',
 'Date: Wed, 16 Aug 2000 05:35:00 -0700 (PDT)',
 'From: phillip.allen@enron.com',
 'To: cooper.richey@enron.com',
 'Subject: Re:',
 'Mime-Version: 1.0',
 'Content-Type: text/plain; charset=us-ascii',
 'Content-Transfer-Encoding: 7bit',
 'X-From: Phillip K Allen',
 'X-To: Cooper Richey',
 'X-cc:',
 'X-bcc:',
 "X-Folder: \\Phillip_Allen_Dec2000\\Notes Folders\\'sent mail",
 'X-Origin: Allen-P',
 'X-FileName: pallen.nsf',
 '',
 "I tried the new address but I don't have access.  also, what do I need to",
 'enter under domain?']

In [0]:
emails = ' '.join([s.strip() for s in df['message'][0].splitlines()][15:])

In [0]:
dates = ' '.join([s.strip() for s in df['message'][1].splitlines()][1:2])

In [0]:
from_who = ' '.join([s.strip('') for s in df['message'][1].splitlines()][2:3])

In [0]:
to_who = ' '.join([s.strip('') for s in df['message'][1].splitlines()][3:4])

In [0]:
subject = ' '.join([s.strip('') for s in df['message'][1].splitlines()][4:5])

In [0]:
content_type = ' '.join([s.strip('') for s in df['message'][1].splitlines()][6:7])

In [0]:
#CLEAN DATASET
import re
import html
def cleanup_html(raw_html):
    clean_html = re.sub(r'<.*?>', '', raw_html)
    clean_html_http = re.sub(r'http\S+([\.]{3})?', '', clean_html)
    clean_txt = html.unescape(clean_html)
    return clean_txt
df['email_body'] = df['message'].apply(cleanup_html)

In [382]:
def clean_email(email):
    return ' '.join([s.strip() for s in email.splitlines()][15:])
def clean_content_type(email):
    return ' '.join([s.strip() for s in email.splitlines()][6:7])
def clean_subject(email):
    return ' '.join([s.strip() for s in email.splitlines()][4:5])
def clean_to_who(email):
    return ' '.join([s.strip() for s in email.splitlines()][4:4])
def clean_from_who(email):
    return ' '.join([s.strip() for s in email.splitlines()][2:3])
def clean_dates(email):
    return ' '.join([s.strip() for s in email.splitlines()][1:2])

df['email_body'] = df['message'].apply(clean_email)
df['subject'] = df['message'].apply(clean_subject)
df['content_type'] = df['message'].apply(clean_content_type)
df['to_who'] = df['message'].apply(clean_to_who)
df['from_who'] = df['message'].apply(clean_from_who)
df['dates'] = df['message'].apply(clean_dates)
df["email_body"].value_counts(sort=True).head()

 most bullish thing at this point is moving closer to everyone's psychological $4 price target and that everybody and their dog is still short.  next sellers need to be from producer community.  saw a little this week with williams hedging the barrett transaction but wouldnt say thats indicative of the rest of the e&p community.  short covering rallies will get more common here.  velocity of move down has slowed significantly for good (except maybe in bid week).  my concern is if we go to $4 and people want to cover some shorts, who's selling it to them?  might feel a lot like it did when we were trying to break $5.    9
 Jim,  Is there going to be a conference call or some type of weekly meeting about all the regulatory issues facing California this week?  Can you make sure the gas desk is included.  Phillip                                                                                                                                                                                                                                                                                                                                                                                                                                                    6
 Let me know when you get the quotes from Pauline.  I am expecting to pay something in the $3,000 to $5,000 range.  I would like to see the quotes and a description of the work to be done.  It is my understanding that some rock will be removed and replaced with siding.  If they are getting quotes to put up new rock then we will need to clarify.  Jacques is ready to drop in a dollar amount on the release.  If the negotiations stall, it seems like I need to go ahead and cut off the utilities.  Hopefully things will go smoothly.  Phillip                                                                                       6
 Tim,  mike grigsby is having problems with accessing the west power site.  Can you please make sure he has an active password.  Thank you,  Phillip                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               6
 Harry:  Let me know what you think.  Thanks.  SR:-)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               6
Name: email_body, dtype: int64

In [383]:
df.shape

(10000, 8)

In [0]:
#CLEAN DATA

#Str the data
df['email_body'] = df['email_body'].astype(str)

#remove whitespace
df['email_body'] = df['email_body'].str.strip().str.lower()

#Start with date
df['email_body'].str.match('\d?\d/\d?\d/\d{4}').all()

#\s indicates a white space. So [^\s] is any non-white space and includes letters, numbers, special characters
df['email_body'] = df['email_body'].str.replace('[^a-zA-Z\s]', '').str.replace('\s+', ' ')

In [385]:
df.shape

(10000, 8)

In [0]:
#Vander model
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer() 

def vaderizeSentiment(sentence):
    return analyzer.polarity_scores(sentence)

In [0]:
#create columns score with numbers
df['Scores'] = df['email_body'].apply(vaderizeSentiment)

In [388]:
df.shape

(10000, 9)

In [0]:
df[['negative', 'neutral', 'positive', 'compound']] = df.Scores.apply(pd.Series)

In [0]:
#Model to see final prediction
Model = SentimentIntensityAnalyzer()
def score(sentence, Model):
    return Model.polarity_scores(sentence)['compound']

# Sentiment score
df['final_score'] = df['email_body'].apply(lambda x: score(x, Model))

#Discretize variable.
df['final_pred'] = pd.cut(df['final_score'], bins=5, labels=[1, 2, 3, 4, 5])
#df = df.drop('final_score', axis=1).sort_values(by=['file','final_pred']).iloc[:5]

In [391]:
df.shape

(10000, 15)

In [0]:
tokens = []
for doc in nlp.pipe(df['email_body'], batch_size=500):

    doc_tokens = []

    for token in doc:
        if (token.is_stop == False) & (token.is_punct == False):
            doc_tokens.append(token.lemma_.lower())

    tokens.append(doc_tokens)

df['tokens'] = tokens

In [0]:
df = df.drop(columns = ['file', 'message', 'Scores'])

In [394]:
df.shape

(10000, 13)

In [416]:
url = 'https://raw.githubusercontent.com/Lambda-School-Labs/tagger-ds/master/notebooks/tags.csv'
myfile = requests.get(url)
open('tags.csv', 'wb').write(myfile.content)

13296306

In [0]:
df_tags = pd.read_csv("tags.csv")

In [0]:
df_tags.rename(columns={'tags':'smart_tags'}, inplace=True)

In [0]:
frames = [df, df_tags]

result = pd.concat([df, df_tags], axis=1, sort=False)

In [0]:
result = result.drop(columns=['email_body', 'tokens', 'final_score'])

In [422]:
result

                                         subject  ... final_pred
0                                       Subject:  ...        3.0
1                                   Subject: Re:  ...        5.0
2                              Subject: Re: test  ...        4.0
3                                       Subject:  ...        3.0
4                             Subject: Re: Hello  ...        2.0
...                                          ...  ...        ...
9995        Subject: Re: Evite: Super Bowl Party  ...        NaN
9996                                    Subject:  ...        NaN
9997  Subject: 9912 Texas Financial Liquidations  ...        NaN
9998                                    Subject:  ...        NaN
9999                                Subject: Re:  ...        NaN

[10000 rows x 17 columns]

In [0]:
result['message_id'] = result.index + 1

In [424]:
result

                                         subject  ... message_id
0                                       Subject:  ...          1
1                                   Subject: Re:  ...          2
2                              Subject: Re: test  ...          3
3                                       Subject:  ...          4
4                             Subject: Re: Hello  ...          5
...                                          ...  ...        ...
9995        Subject: Re: Evite: Super Bowl Party  ...       9996
9996                                    Subject:  ...       9997
9997  Subject: 9912 Texas Financial Liquidations  ...       9998
9998                                    Subject:  ...       9999
9999                                Subject: Re:  ...      10000

[10000 rows x 18 columns]

In [0]:
result['user_tags'] = np.nan
result['thread_id'] = np.nan

In [427]:
result

                                         subject  ... thread_id
0                                       Subject:  ...       NaN
1                                   Subject: Re:  ...       NaN
2                              Subject: Re: test  ...       NaN
3                                       Subject:  ...       NaN
4                             Subject: Re: Hello  ...       NaN
...                                          ...  ...       ...
9995        Subject: Re: Evite: Super Bowl Party  ...       NaN
9996                                    Subject:  ...       NaN
9997  Subject: 9912 Texas Financial Liquidations  ...       NaN
9998                                    Subject:  ...       NaN
9999                                Subject: Re:  ...       NaN

[10000 rows x 20 columns]

In [0]:
def save_data_frame_as_csv(result=None, file=None):
    """
    Save a Pandas DataFrame to CSV format.
    """
    try:
        if not file.endswith('.csv'):
            file += '.csv'
        result.to_csv(file, index=False)
        print(f'DataFrame saved as: {file}')
    except Exception as e:
        print("DataFrame couldn't be saved: ", sys.exc_info()[0])
        raise

In [429]:
save_data_frame_as_csv(result, './merged_data_for_KNN.csv')

DataFrame saved as: ./merged_data_for_KNN.csv