In [131]:
Tags = pd.read_csv('tags.csv')
Tags

                                             body_email  ... final_pred
0                                  here is our forecast  ...        3.0
1     traveling to have a business meeting takes the...  ...        5.0
2                             test successful way to go  ...        4.0
3     randy can you send me a schedule of the salary...  ...        3.0
4                            lets shoot for tuesday at   ...        2.0
...                                                 ...  ...        ...
9995                                                NaN  ...        NaN
9996                                                NaN  ...        NaN
9997                                                NaN  ...        NaN
9998                                                NaN  ...        NaN
9999                                                NaN  ...        NaN

[10000 rows x 7 columns]