In [1]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('../Data/ten_k_emails_tagged.csv')

print(df.shape)

df.head()

(9913, 7)

,id,uid,from_,subject,msg,content_type,tags
0,31780,32509,<grangepayments@westernunionspeedpay.com>,Grange Payment Confirmation,"Dear AVRAHAM JACOBSOHN, This is to confirm th...",text/plain,Finance
1,31779,32508,Chase <no.reply.alerts@chase.com>,Your Debit Card Transaction,This is an Alert to help manage your account ...,text/plain,Finance
2,31738,32467,Amazon Web Services <no-reply-aws@amazon.com>,Resolved 6559329691: Limit Increase: SageMaker,Please let us know if we helped resolve your i...,text/plain,Productivity
3,31693,32422,Lambda Labs <noreply@github.com>,Bernie Durfee added you to the Lambda Labs tea...,Youve been added to the Labs 18 - Tagger team ...,text/plain,Productivity
4,31684,32413,Amazon Web Services <no-reply-aws@amazon.com>,Attention required on case 6559329691: Limit I...,"Hello, We haven't heard back from you regard...",text/plain,Productivity

In [5]:
df['tags'].value_counts()

Finance                    5423
Entertainment              1474
Shopping                    954
Personal, other             443
other                       282
Personal, Other             203
Productivity                200
Other                       171
Social                      137
Personal, Productivity      106
Entertainment, Finance      102
Personal, Shopping           72
Personal                     69
Productivity, Events         59
Travel                       34
Personal, Events             34
Events                       27
Personal, Entertainment      18
Personal, Finance            12
Entertainment, Shopping      10
Shopping, Finance             9
FInance                       4
Shopping, Entertainment       4
entertainment                 4
Personal, Social              4
Productivity, Finance         2
Personal, Oher                1
Emtertainment                 1
Events, Entertainment         1
Finance, Shopping             1
Personal, Travel              1
Productvity, Finance          1
Name: tags, dtype: int64

In [24]:
len(df)

9863

In [28]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
mlb_result = mlb.fit_transform([str(df.loc[i,'tags']).split(', ') for i in range(len(df))])
#df_final = pd.concat([df['text'],pd.DataFrame(mlb_result,columns=list(mlb.classes_))],axis=1)
mlb_df = pd.DataFrame(mlb_result,columns=list(mlb.classes_))

In [29]:
mlb_df.columns

Index(['Emtertainment', 'Entertainment', 'Events', 'FInance', 'Finance',
       'Oher', 'Other', 'Personal', 'Productivity', 'Productvity', 'Shopping',
       'Social', 'Travel', 'entertainment', 'nan', 'other'],
      dtype='object')

In [32]:
df['Productivity'] = mlb_df['Productvity'] + mlb_df['Productivity']
df['Entertainment'] = mlb_df['Emtertainment'] + mlb_df['Entertainment'] + mlb_df['entertainment']
df['Finance'] = mlb_df['FInance'] + mlb_df['Finance']
df['Other'] = mlb_df['Oher'] + mlb_df['Other'] + mlb_df['other']
df['Events'] = mlb_df['Events']
df['Travel'] = mlb_df['Travel']
df['Shopping'] = mlb_df['Shopping']
df['Social'] = mlb_df['Social']
df['Personal'] = mlb_df['Personal']
df.columns

Index(['id', 'uid', 'from_', 'subject', 'msg', 'content_type', 'tags',
       'Productivity', 'Entertainment', 'Finance', 'Other', 'Events', 'Travel',
       'Shopping', 'Social', 'Personal'],
      dtype='object')

In [34]:
df.head(20)

,id,uid,from_,subject,msg,content_type,tags,Productivity,Entertainment,Finance,Other,Events,Travel,Shopping,Social,Personal
0,31780,32509,<grangepayments@westernunionspeedpay.com>,Grange Payment Confirmation,"Dear AVRAHAM JACOBSOHN, This is to confirm th...",text/plain,Finance,0,0,1,0,0,0,0,0,0
1,31779,32508,Chase <no.reply.alerts@chase.com>,Your Debit Card Transaction,This is an Alert to help manage your account ...,text/plain,Finance,0,0,1,0,0,0,0,0,0
2,31738,32467,Amazon Web Services <no-reply-aws@amazon.com>,Resolved 6559329691: Limit Increase: SageMaker,Please let us know if we helped resolve your i...,text/plain,Productivity,1,0,0,0,0,0,0,0,0
3,31693,32422,Lambda Labs <noreply@github.com>,Bernie Durfee added you to the Lambda Labs tea...,Youve been added to the Labs 18 - Tagger team ...,text/plain,Productivity,1,0,0,0,0,0,0,0,0
4,31684,32413,Amazon Web Services <no-reply-aws@amazon.com>,Attention required on case 6559329691: Limit I...,"Hello, We haven't heard back from you regard...",text/plain,Productivity,1,0,0,0,0,0,0,0,0
5,31662,32391,Chase <no.reply.alerts@chase.com>,An Alert from Chase about Your External Transfer,This is an Alert to help manage your account ...,text/plain,Finance,0,0,1,0,0,0,0,0,0
6,31619,32348,Chase <no.reply.alerts@chase.com>,Your Debit Card Transaction,This is an Alert to help manage your account ...,text/plain,Finance,0,0,1,0,0,0,0,0,0
7,31581,32310,Amazon Web Services <no-reply-aws@amazon.com>,[Case 6559329691] Limit Increase: SageMaker,Limit increase request 1 Service: SageMaker Re...,text/plain,Productivity,1,0,0,0,0,0,0,0,0
8,31580,32309,Amazon Web Services <no-reply-aws@amazon.com>,Amazon Web Services: You have opened a new Sup...,Thank you for contacting Amazon Web Services. ...,text/plain,Productivity,1,0,0,0,0,0,0,0,0
9,31232,31960,Chase <no.reply.alerts@chase.com>,Your Debit Card Transaction,This is an Alert to help manage your account ...,text/plain,Finance,0,0,1,0,0,0,0,0,0
10,31216,31944,GitHub <noreply@github.com>,[GitHub] A third-party OAuth application has b...,Hey noreallyimfine! A third-party OAuth appli...,text/plain,Productivity,1,0,0,0,0,0,0,0,0
11,31139,31863,GitHub <noreply@github.com>,[GitHub] A third-party OAuth application has b...,Hey noreallyimfine! A third-party OAuth appli...,text/plain,Productivity,1,0,0,0,0,0,0,0,0
12,31065,31788,GitHub <noreply@github.com>,[GitHub] A third-party OAuth application has b...,Hey noreallyimfine! A third-party OAuth appli...,text/plain,Productivity,1,0,0,0,0,0,0,0,0
13,31035,31758,GitHub <noreply@github.com>,[GitHub] A third-party OAuth application has b...,Hey noreallyimfine! A third-party OAuth appli...,text/plain,Productivity,1,0,0,0,0,0,0,0,0
14,30972,31694,Chase <no.reply.alerts@chase.com>,Your Debit Card Transaction,This is an Alert to help manage your account ...,text/plain,Finance,0,0,1,0,0,0,0,0,0
15,30960,31682,"""no-reply@accounts.nintendo.com"" <no-reply@acc...",[Nintendo Account] Account creation,VGhpcyBpcyBhbiBhdXRvbWF0aWNhbGx5IGdlbmVyYXRlZC...,text/plain,Entertainment,0,1,0,0,0,0,0,0,0
16,30959,31681,"""no-reply@accounts.nintendo.com"" <no-reply@acc...",[1602] Nintendo Account: E-mail address verifi...,VGhpcyBpcyBhbiBhdXRvbWF0aWNhbGx5IGdlbmVyYXRlZC...,text/plain,Entertainment,0,1,0,0,0,0,0,0,0
17,30898,31620,Chase <no.reply.alerts@chase.com>,An Alert from Chase about Your External Transfer,This is an Alert to help manage your account ...,text/plain,Finance,0,0,1,0,0,0,0,0,0
18,30897,31619,Chase <no.reply.alerts@chase.com>,An Alert from Chase about Your External Transfer,This is an Alert to help manage your account ...,text/plain,Finance,0,0,1,0,0,0,0,0,0
19,30883,31605,GitHub <noreply@github.com>,[GitHub] A first-party GitHub OAuth applicatio...,Hey noreallyimfine! A first-party GitHub OAut...,text/plain,Productivity,1,0,0,0,0,0,0,0,0

In [7]:
df['tags'] = df['tags'].str.split(',')

In [8]:
df['tags'].value_counts()

[Finance]                     5423
[Entertainment]               1474
[Shopping]                     954
[Personal,  other]             443
[other]                        282
[Personal,  Other]             203
[Productivity]                 200
[Other]                        171
[Social]                       137
[Personal,  Productivity]      106
[Entertainment,  Finance]      102
[Personal,  Shopping]           72
[Personal]                      69
[Productivity,  Events]         59
[Personal,  Events]             34
[Travel]                        34
[Events]                        27
[Personal,  Entertainment]      18
[Personal,  Finance]            12
[Entertainment,  Shopping]      10
[Shopping,  Finance]             9
[Personal,  Social]              4
[FInance]                        4
[entertainment]                  4
[Shopping,  Entertainment]       4
[Productivity,  Finance]         2
[Personal,  Oher]                1
[Personal,  Travel]              1
[Emtertainment]                  1
[Events,  Entertainment]         1
[Productvity,  Finance]          1
[Finance,  Shopping]             1
Name: tags, dtype: int64

In [ ]:
df['tags'] = df['tags'].map()

In [16]:
df['tags'].isnull().sum()

50

In [ ]:
df_final.head()

In [35]:
# saves emails with original tags and one hot encoded
df.to_csv('../Data/one_hot_encoded_emails.csv', index=False)

In [36]:
df.columns

Index(['id', 'uid', 'from_', 'subject', 'msg', 'content_type', 'tags',
       'Productivity', 'Entertainment', 'Finance', 'Other', 'Events', 'Travel',
       'Shopping', 'Social', 'Personal'],
      dtype='object')

In [39]:
df = df.dropna(subset=['tags'])

In [125]:
df['first_tag'] = [x.split(', ')[0] for x in df['tags']]

In [129]:
df['first_tag'] = df['first_tag'].replace({'entertainment': 'Entertainment',
                                           'other': 'Other', 
                                           'Emtertainment': 'Entertainment',
                                           'Productvity': 'Productivity',
                                           'FInance': 'Finance'})

In [130]:
df['first_tag'].value_counts()

Finance          5428
Entertainment    1590
Shopping          967
Personal          963
Other             452
Productivity      262
Social            137
Travel             34
Events             28
Name: first_tag, dtype: int64

In [131]:
df['second_tag'] = [x.split(', ')[1] if len(x.split(', '))>1 else None for x in df['tags']]
df['second_tag'].value_counts()

other            443
Other            203
Finance          126
Productivity     106
Events            93
Shopping          83
Entertainment     23
Social             4
Oher               1
Travel             1
Name: second_tag, dtype: int64

In [132]:
df['second_tag'] = df['second_tag'].replace({'other': 'Other',
                                             'Oher': 'Other'})
df['second_tag'].value_counts()

Other            647
Finance          126
Productivity     106
Events            93
Shopping          83
Entertainment     23
Social             4
Travel             1
Name: second_tag, dtype: int64

In [138]:
df['second_tag'] = df['second_tag'].replace({None: 'empty'})
df['second_tag'].tail(50)

9863    empty
9864    empty
9865    empty
9866    empty
9867    empty
9868    empty
9869    empty
9870    empty
9871    Other
9872    empty
9873    empty
9874    empty
9875    empty
9876    empty
9877    empty
9878    empty
9879    empty
9880    empty
9881    empty
9882    empty
9883    empty
9884    empty
9885    empty
9886    empty
9887    empty
9888    empty
9889    empty
9890    empty
9891    empty
9892    empty
9893    empty
9894    empty
9895    empty
9896    empty
9897    empty
9898    empty
9899    empty
9900    empty
9901    empty
9902    empty
9903    empty
9904    empty
9905    empty
9906    empty
9907    empty
9908    empty
9909    empty
9910    empty
9911    empty
9912    empty
Name: second_tag, dtype: object

In [139]:
df['tags'] = [df['first_tag'],df['second_tag']]
df['tags']

ValueError: Length of values does not match length of index

In [143]:
df.head()

,id,uid,from_,subject,msg,content_type,tags,Productivity,Entertainment,Finance,Other,Events,Travel,Shopping,Social,Personal,first_tag,text,second_tag
0,31780,32509,<grangepayments@westernunionspeedpay.com>,Grange Payment Confirmation,"Dear AVRAHAM JACOBSOHN, This is to confirm th...",text/plain,Finance,0,0,1,0,0,0,0,0,0,Finance,<grangepayments@westernunionspeedpay.com> Gran...,empty
1,31779,32508,Chase <no.reply.alerts@chase.com>,Your Debit Card Transaction,This is an Alert to help manage your account ...,text/plain,Finance,0,0,1,0,0,0,0,0,0,Finance,Chase <no.reply.alerts@chase.com> Your Debit C...,empty
2,31738,32467,Amazon Web Services <no-reply-aws@amazon.com>,Resolved 6559329691: Limit Increase: SageMaker,Please let us know if we helped resolve your i...,text/plain,Productivity,1,0,0,0,0,0,0,0,0,Productivity,Amazon Web Services <no-reply-aws@amazon.com> ...,empty
3,31693,32422,Lambda Labs <noreply@github.com>,Bernie Durfee added you to the Lambda Labs tea...,Youve been added to the Labs 18 - Tagger team ...,text/plain,Productivity,1,0,0,0,0,0,0,0,0,Productivity,Lambda Labs <noreply@github.com> Bernie Durfee...,empty
4,31684,32413,Amazon Web Services <no-reply-aws@amazon.com>,Attention required on case 6559329691: Limit I...,"Hello, We haven't heard back from you regard...",text/plain,Productivity,1,0,0,0,0,0,0,0,0,Productivity,Amazon Web Services <no-reply-aws@amazon.com> ...,empty

In [144]:
df.to_csv('one_hot_encoded_tags_split.csv', index=False)

In [142]:
len(df['tags'])

9861

In [47]:
df = df.dropna(subset=['msg'])
df['from_'] = df['from_'].replace(np.nan, ' ')
df['subject'] = df['subject'].replace(np.nan, ' ')

In [112]:
df['text'] = df['from_'] + ' ' + df['subject'] + ' ' + df['msg']

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
#from sklearn.preprocessing import CategoricalEncoder
import category_encoders as ce

In [113]:
train, test = train_test_split(df)

train.shape, test.shape

((7395, 18), (2466, 18))

In [52]:
train.columns

Index(['id', 'uid', 'from_', 'subject', 'msg', 'content_type', 'tags',
       'Productivity', 'Entertainment', 'Finance', 'Other', 'Events', 'Travel',
       'Shopping', 'Social', 'Personal', 'first_tag', 'text'],
      dtype='object')

In [114]:
X_train = train['text']
y_train = train['first_tag']

X_test = test['text']
y_test = test['first_tag']

In [115]:
vect = TfidfVectorizer(stop_words='english')
X_train = vect.fit_transform(X_train)
X_test = vect.transform(X_test)

encoder = ce.OrdinalEncoder()
y_train = encoder.fit_transform(y_train)
y_test = encoder.transform(y_test)

In [116]:
sgd = SGDClassifier()

sgd.fit(X_train, y_train)

sgd.score(X_test, y_test)

/home/jay/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9618815896188159

In [119]:
#assert len(preds) == len(df)
len(preds), len(df)

(2466, 9861)

In [106]:
preds = sgd.predict(X_test)

preds

array([4, 3, 3, ..., 3, 3, 3])

In [123]:
encoder.inverse_transform

<bound method OrdinalEncoder.inverse_transform of OrdinalEncoder(cols=['first_tag'], drop_invariant=False, handle_missing='value',
               handle_unknown='value',
               mapping=[{'col': 'first_tag', 'data_type': dtype('O'),
                         'mapping': Finance            1
Other              2
Personal,          3
Entertainment      4
Shopping           5
other              6
Entertainment,     7
Productivity,      8
Productivity       9
Personal          10
Social            11
Travel            12
Shopping,         13
Events            14
FInance           15
Emtertainment     16
Productvity,      17
entertainment     18
Finance,          19
NaN               -2
dtype: int64}],
               return_df=True, verbose=0)>

In [120]:
preds_df = pd.DataFrame({'predictions': preds,
              'truth': test['first_tag']})

In [121]:
preds_df

      predictions      truth
3333            4    Finance
5183            3    Finance
1707            3      other
9699            3      Other
910             4      Other
...           ...        ...
7528            1    Finance
3678            1    Finance
4205            3    Finance
4882            3    Finance
348             3  Personal,

[2466 rows x 2 columns]

In [75]:
untagged = pd.read_csv('../Data/email_data_3500+.csv')

In [77]:
test_set = untagged[:100]

In [78]:
test_set.columns

Index(['id', 'uid', 'from_', 'subject', 'msg', 'content_type'], dtype='object')

In [79]:
test_set = test_set.dropna(subset=['msg'])
test_set['from_'] = test_set['from_'].replace(np.nan, ' ')
test_set['subject'] = test_set['subject'].replace(np.nan, ' ')

In [80]:
test_set['text'] = test_set['from_'] + ' ' + test_set['subject'] + ' ' + test_set['msg']

In [81]:
X = test_set['text']

X = vect.transform(X)

In [82]:
test_preds = sgd.predict(X)

test_preds

array([6, 4, 6, 7, 2, 3, 7, 7, 6, 1, 4, 7, 2, 4, 1, 1, 1, 2, 7, 2, 6, 7,
       4, 1, 1, 2, 4, 7, 1, 2, 2, 4, 7, 4, 6, 4, 4, 1, 7, 6, 2, 2, 7, 2,
       4, 7, 2, 4, 7, 7, 1, 4, 7, 2, 4, 4, 7, 1, 1, 1, 2, 4, 4, 7, 2, 7,
       4, 6, 7, 2, 7, 7, 4, 7, 4, 2, 2, 2, 4, 7, 6, 6, 2, 4, 2, 6, 7, 1,
       1, 7, 2, 4, 6, 7, 4, 7, 2, 6, 6, 4])

In [90]:
mapping = encoder.category_mapping[0]['mapping']

In [91]:
mapping

P      1
E      2
F      3
S      4
o      5
O      6
T      7
e      8
NaN   -2
dtype: int64

In [97]:
test_set['preds'] = test_preds
test_set['decoded_preds'] = test_set['preds'].map({1: 'Productivity', 2: 'Entertainment', 3: 'Finance',
                                                   4: 'Shopping', 5:'Social', 6:'Other', 7:'Travel', 8:'Events'})

test_set[['from_', 'subject', 'msg', 'decoded_preds']].head(100)

,from_,subject,msg,decoded_preds
0,Camp Regesh <offers@jblasts.com>,Give your child the special feeling of summer,An idyllic summer setting . . .\r\nWith 22 maj...,Other
1,jdeal <deals@jdeal.com>,$25 for $45 worth of dry cleaning at Casa Orga...,Its a jdeal!\r\n\r\n$25 for $45 worth of dry c...,Shopping
2,Joy of Kosher <offers@jblasts.com>,ATTN: NYC/NJ - Free Jamie Geller Passover Cook...,Joy of Kosher\r\n\r\nIf you believe this has b...,Other
3,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",Travel
4,"""Hotwire Deals"" <Hotwire@e.Hotwire.com>",Flights up to 40% off - Check out recently fou...,<html>\r\n<head>\r\n<title>Hotwire</title> =20...,Entertainment
...,...,...,...,...
95,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",Travel
96,"""Hotwire Deals"" <Hotwire@e.Hotwire.com>",4-star hotels from $90. Book now.,<html>\r\n\t<head>\r\n\t<meta http-equiv=3D=22...,Entertainment
97,JWed <offers@jblasts.com>,Find Your Chosen One,jwed.com On JWed you'll enjoy a focused and me...,Other
98,Euro Raffle <lovettpp5644@wowway.com>,Re:,........Congratulations! Your E-mail was confi...,Other
99,jdeal <deals@jdeal.com>,$23.95 for a 3-month gold membership to Jretro...,Its a jdeal!\r\n\r\n$23.95 for a 3-month gold ...,Shopping

In [98]:
test_set[test_set['from_'].str.contains('America')]

,id,uid,from_,subject,msg,content_type,text,preds,decoded_preds
3,3504,3674,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
6,3507,3677,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Your Credit Card or Loa...,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
7,3508,3678,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
11,3512,3682,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
18,3519,3689,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
21,3522,3692,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
27,3528,3698,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
32,3533,3703,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
38,3539,3709,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
42,3543,3714,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
45,3546,3717,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
48,3549,3720,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
49,3550,3721,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
52,3553,3724,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
56,3557,3728,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
63,3564,3735,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
65,3566,3738,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
68,3569,3741,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
70,3571,3743,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
71,3572,3744,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
73,3574,3746,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
79,3580,3752,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
86,3587,3759,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
89,3590,3762,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
93,3594,3766,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel
95,3596,3768,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts...",7,Travel