In [1]:
import pandas as pd
import numpy as np
import joblib

In [23]:
df = pd.read_csv('../Data/email_data_3500+.csv')

print(df.shape)

df.head()

(6500, 6)

,id,uid,from_,subject,msg,content_type
0,3501,3671,Camp Regesh <offers@jblasts.com>,Give your child the special feeling of summer,An idyllic summer setting . . .\r\nWith 22 maj...,multipart/alternative
1,3502,3672,jdeal <deals@jdeal.com>,$25 for $45 worth of dry cleaning at Casa Orga...,Its a jdeal!\r\n\r\n$25 for $45 worth of dry c...,multipart/alternative
2,3503,3673,Joy of Kosher <offers@jblasts.com>,ATTN: NYC/NJ - Free Jamie Geller Passover Cook...,Joy of Kosher\r\n\r\nIf you believe this has b...,multipart/alternative
3,3504,3674,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html
4,3505,3675,"""Hotwire Deals"" <Hotwire@e.Hotwire.com>",Flights up to 40% off - Check out recently fou...,<html>\r\n<head>\r\n<title>Hotwire</title> =20...,text/html

In [24]:
df.isnull().sum()

id               0
uid              0
from_            0
subject         26
msg              2
content_type     0
dtype: int64

In [25]:
df[['subject', 'msg']] = df[['subject', 'msg']].replace(np.nan, '')

df.isnull().sum()

id              0
uid             0
from_           0
subject         0
msg             0
content_type    0
dtype: int64

In [26]:
df['text'] = df['from_'] + ' ' + df['subject'] + ' ' + df['msg']

df.head()

,id,uid,from_,subject,msg,content_type,text
0,3501,3671,Camp Regesh <offers@jblasts.com>,Give your child the special feeling of summer,An idyllic summer setting . . .\r\nWith 22 maj...,multipart/alternative,Camp Regesh <offers@jblasts.com> Give your chi...
1,3502,3672,jdeal <deals@jdeal.com>,$25 for $45 worth of dry cleaning at Casa Orga...,Its a jdeal!\r\n\r\n$25 for $45 worth of dry c...,multipart/alternative,jdeal <deals@jdeal.com> $25 for $45 worth of d...
2,3503,3673,Joy of Kosher <offers@jblasts.com>,ATTN: NYC/NJ - Free Jamie Geller Passover Cook...,Joy of Kosher\r\n\r\nIf you believe this has b...,multipart/alternative,Joy of Kosher <offers@jblasts.com> ATTN: NYC/N...
3,3504,3674,"""Bank of America Alert"" <onlinebanking@ealerts...",Bank of America Alert: Available Balance,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T...",text/html,"""Bank of America Alert"" <onlinebanking@ealerts..."
4,3505,3675,"""Hotwire Deals"" <Hotwire@e.Hotwire.com>",Flights up to 40% off - Check out recently fou...,<html>\r\n<head>\r\n<title>Hotwire</title> =20...,text/html,"""Hotwire Deals"" <Hotwire@e.Hotwire.com> Flight..."

In [6]:
df.isnull().sum()

id               0
uid              0
from_            0
subject         26
msg              2
content_type     0
text            28
dtype: int64

In [27]:
vect = joblib.load('vect1.joblib')
model = joblib.load('model1.joblib')

In [28]:
X = df['text']
X = vect.transform(X)

preds = model.predict(X)

pred_df = pd.DataFrame({'sender': df['from_'],
              'subject': df['subject'],
              'msg': df['msg'], 
              'predicted_tags': preds})

In [29]:
pred_df['predicted_tags'].value_counts(normalize=True)

Finance          0.910154
Entertainment    0.057538
Shopping         0.031077
Personal         0.001231
Name: predicted_tags, dtype: float64

In [30]:
pred_df[pred_df['predicted_tags'] == 'Personal']

,sender,subject,msg,predicted_tags
318,"""Chave Jacobsohn"" <chave@designsbyfmc.com>",RE: FW: MB Vineyards Weekly Specials!,K\r\n\r\n \r\n\r\nFrom: Avraham Jacobsohn [mai...,Personal
4982,"""Chave Jacobsohn"" <chave@designsbyfmc.com>",RE: FW: Your Order with MYHABIT (114-9509480-0...,We will discuss later who is paying for these....,Personal
4983,"""Chave Jacobsohn"" <chave@designsbyfmc.com>",RE: FW: Your Order with MYHABIT (114-9509480-0...,"K, See you soon.\r\n\r\n \r\n\r\nFrom: Avraham...",Personal
5129,"""Chave Jacobsohn"" <chave@designsbyfmc.com>","RE: FW: Your Amazon.com order of ""New arrival ...","No problem, next time just give me a heads up....",Personal
5130,"""b.b. jacobsohn"" <bbjacobsohn7@gmail.com>","Re: FW: Your Amazon.com order of ""New arrival ...","Not me\r\nOn May 5, 2014 5:12 PM, ""Chave Jacob...",Personal
5303,"""Chave Jacobsohn"" <chave@designsbyfmc.com>","RE: FW: Your Amazon.com order of ""DELL STUDIO ...",K\r\n\r\n=20\r\n\r\nFrom: Avraham Jacobsohn [m...,Personal
5806,"""Chave Jacobsohn"" <chave@designsbyfmc.com>",FW: Order delivery inquiry from Amazon custome...,"I am really upset, can you go online and see i...",Personal
6094,"""Chave Jacobsohn"" <Chave@designsbyfmc.com>",=?utf-8?Q?FW:_Gifts_for_Every_Guy:_20%_Off?=\r...,=20\r\n\r\n=20\r\n\r\nFrom: Forever 21 [mailto...,Personal

In [32]:
sample = df.iloc[0]

In [35]:
X = sample['text']
X = vect.transform([X])
model.predict(X)[0]

'Finance'